<div class="row mt-5">
  <div class="col">
    <div class="card">
      {{#model-form
        model=model
        shouldAutosave=true
        onSubmit=(action "update") as |form|
      }}
        <div class="card-body">
          {{ partial "portal/material-collect/forms/content" }}
        </div>

        <div class="card-footer">
          {{model-save-button disabled=isActionRunning}}
        </div>
      {{/model-form}}

    </div>
  </div>
</div>
