{{#nav-breadcrumbs as |crumbs|}}
  {{#crumbs.item tagName="h4" classNames="test text-uppercase"}}{{entypo-icon "news"}} {{model.name}} Material Collect{{/crumbs.item}}
{{/nav-breadcrumbs}}


<ul>
  <li>{{#link-to "material-collect.campaign"}}Campaign{{/link-to}}</li>
  <li>{{#link-to "material-collect.content"}}Content{{/link-to}}</li>
</ul>
